@media screen and (min-width: 970px) {
  .custom-container-section1 {
    height: 90vh;
  }

  .custom-container-txt-section1 {
    left: 22vh;
    position: relative;
  }

  .custom-btn-trynow {
    position: relative;
    bottom: 1vh;
  }

  .txt-top-different {
    font-size: 3rem !important;
    line-height: normal;
    font-weight: bold;
  }

  .secundary-text {
    color: #989898 !important;
  }

  .custom-employee-section {
    position: relative;
    top: 10vh;
  }

  .results {
    background: #f4f4f4 !important;
    padding: 5vh;
  }

  .footer-cont {
    margin-top: 4vh;
  }

  .custom-container-text-pt {
    font-weight: bold;
    padding: 0px 6rem;
  }

  .custon-container-txt-employee {
    color: #666;
  }
}

@media screen and (min-width: 768px) {
  .custom-container-section {
    display: none;
  }
}

@media screen and (max-width: 907px) {
  .custom-display-none {
    display: none !important;
  }
}

@media screen and (min-width: 970px) {
  .custom-container-img-social {
    display: none;
  }

  .font-custom-social {
    display: none;
  }

  .custom-container-section {
    display: none;
  }

  .custom-container-text-pt {
    font-weight: bold;
    padding: 0px 6rem;
  }

  .responsive-menu {
    display: none;
  }

  .img-responsive-mobile-different {
    display: none;
  }

  .img-responsive-different {
    display: block;
  }

  .txt-top-different {
    font-size: 3rem !important;
    line-height: normal;
  }

  /*  .txt-responsive-different {
    display: none;
  } */
  .txt-responsive-different2 {
    text-align: center;
    display: none;
    position: relative;
    bottom: 15rem;
  }

  .divider {
    display: none;
  }

  .btn-navbar-responsive {
    display: none !important;
  }

  .responsive-container-email {
    text-align: left;
  }

  .slogan {
    display: block;
    text-align: right;
  }

  .rowbanner {
    padding-top: 90px;
  }

  .respBannerLeft p {
    margin: 0;
  }

  .inmin {
    display: none !important;
  }

  .text-responsive {
    justify-content: center;

    text-align: center !important;
  }
}

@media screen and (min-width: 500px) {
  .center-row-option img {
    top: 10rem;
    /*  left: 33% !important; */
    width: 180px;
  }
}

@media screen and (max-width: 969px) {
  .responsive-left-side {
    left: 0rem;
    position: relative;
  }

  .text-responsive {
    justify-content: start;
    text-align: initial !important;
    font-size: 24px;
  }

  .respBannerRight {
    justify-content: center !important;
  }

  .NavBarTop {
    width: 36%;
  }

  .link-top-navbar a {
    display: none;
  }

  .col-full-responsive {
    flex: 0 0 100%;
    max-width: 100%;
    border-left: 0px solid #023e88 !important;
  }

  .rowbanner {
    padding-top: 60px;
  }

  .bannerhr {
    border-top: 2px solid #023e88 !important;
    width: 40%;
    margin: 0 auto !important;
    margin-top: 20px !important;
  }

  .respBannerLeft {
    padding-top: 30px;
    /* width: 787px; */
    /* height: 163px; */
    text-align: center;
    /* border-top: solid 1px; */
    font-size: 19px !important;
    font-weight: 300;
    color: #023e88;
    /* left: 20%; */
    bottom: 3rem;
    margin-top: 40px;
    border-left: none !important;
    justify-content: center;
  }

  .inmax {
    display: none !important;
  }

  .resp-d-lg-none {
    /* width: 400px !important; */
  }

  .resp-top-banner-image {
    width: 230% !important;
    right: 11rem !important;
    top: -56px !important;
    position: relative !important;
  }

  .img-responsive-new {
    width: 150px !important;
  }

  .txt-img {
    font-size: 1.5rem !important;
  }

  .container-responsive {
    border-left: none !important;
    padding: 0 5rem;
  }

  .responsive-col12 {
    height: 10rem !important;
  }

  .responsive-color {
    color: #023e88 !important;
  }

  .btn-navbar-responsive {
    display: none !important;
  }

  .responsive-navbartop {
    color: #003399 !important;
  }

  .responsive-line-color {
    background-color: #023e88 !important;
  }

  .responsive-row {
    height: 100vh !important;
    margin-left: 0 !important;
  }

  .responsive-container-email .responsive-title {
    left: 0rem;
    position: relative;
    font-size: 1.5rem !important;
    justify-content: center;
  }

  .responsive-text-center {
    text-align: center !important;
  }

  .responsive-container-email {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .responsive-container-email.input {
    padding-top: 0rem !important;
  }

  .top-side {
    position: absolute !important;
    text-align: center !important;
    font-size: 1.2rem !important;
    border-left: none;
    justify-content: center;
  }

  .img-responsive-mobile-different {
    position: relative !important;
    right: 1rem !important;
    height: 60% !important;
  }

  .img-responsive-different {
    display: none !important;
  }

  .txt-top-different {
    font-size: 2rem !important;
    text-align: center;
    font-weight: bold;
    width: 34vh;
    position: relative;
    right: 10vh;
  }

  .txt-responsive-different {
    display: none;
  }

  .txt-responsive-different2 {
    text-align: center;
    position: relative;
    bottom: 15rem;
  }

  .responsive-employee {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .responsive-employee hr {
    width: 90% !important;
  }

  .p1 {
    margin: 0 auto;
    padding: 0 4rem;
  }

  .custom-container-img-social {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  .font-custom-social {
    font-size: 25px;
    text-align: center !important;
  }

  .custom-footer-txt {
    font-size: 1.8rem;
  }

  .footer-cont {
    margin-top: 8vh;
  }

  .custom-logo-none {
    display: none !important;
  }

  .img-responsive-employee {
    width: 150px;
  }

  .responsive-center {
    margin: 0 auto;
  }

  .dot-responsive {
    color: #ff0064;
    font-size: 1rem !important;
    width: 173px;
    margin: 0 auto !important;
    padding: 1rem !important;
    font-size: 25px !important;

  }

  .resp-col {
    flex: 0 0 90% !important;
    max-width: 100% !important;
  }

  .resp-no-margin {
    margin-left: 1px !important;
    margin: 0 auto !important;
  }

  .resp-col-algorith {
    font-size: 13px !important;
  }

  .resp-img-carousel {
    margin: 0 auto !important;
    left: 1rem !important;
  }

  .img-carousel {
    width: 150px !important;
  }

  .disappear {
    display: none !important;
  }

  .center-row-option {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    margin-top: -3.75rem;
  }

  .center-row-option>.col-4 {
    max-width: 100% !important;
  }

  .space-btn-trynow {
    margin-top: 17rem !important;
    margin-bottom: 1rem !important;
  }

  .custom-cont-text-1 {
    text-align: center;
    padding: 0 1rem;
  }

  .custom-cont-btn {
    text-align: center !important;
  }

  .center-row-option img {
    position: absolute;
    top: 8rem;
  }

  .image-calculator {
    display: flex;
    justify-content: center;
  }

  .text-calculator {
    font-size: 22px;
  }

  .text-calculator-title {
    font-size: 21px;
  }

  .center-row-option-paid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .center-row-option-paid>.col-3 {
    max-width: 100% !important;
  }

  .center-row-option-paid>.col-2 {
    max-width: 100% !important;
  }

  .custom-responsive-top-side {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .custom-responsive-txt-top-side {
    position: relative;
    bottom: 19rem;
    padding-bottom: 90px;
  }

  .custom-top-side-padding {
    position: relative !important;
    top: 4rem !important;
  }

  .custom-save-text {
    position: absolute !important;
    top: -7rem !important;
    right: 5rem !important;
  }

  .border-custom-paid {
    border-bottom: 1px solid #000;
  }

  .custom-save-text2 {
    position: absolute;
    top: 1rem;
    margin-left: -4rem;
  }

  .custom-save-text3 {
    position: absolute;
    margin-left: -55px;
    margin-top: 20px;
  }

  .center-row-option-footer>.col-2 {
    max-width: 100% !important;
    flex: none !important;
  }

  .img-responsive-carousel {
    display: none;
  }

  .responsive-btn-social {
    padding: 1rem;
  }

  .divider {
    width: 50%;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }

  .slogan {
    display: none;
  }

  .slogan-mobile {
    text-align: center;
    width: 100%;
  }

  .responsive-container-email-mobile {
    border-left: none;
    text-align: center;
    /* display: flex; */
  }

  .mrr-2 {
    margin-right: -40px;
  }

  .row-flex {
    display: flex;
    flex-flow: row wrap-reverse;
  }

  .mb-none {
    margin-bottom: 0px !important;
  }

  .img-contain {
    background-size: contain !important;
  }

  .border-dashed {
    border-bottom: 2px solid #ff0064 !important;
    border-bottom-style: dashed !important;
    border-top: none !important;
  }

  .text-left-responsive {
    text-align: left;
  }

  .responsive-line-color2 {
    background-color: #ff0064 !important;
  }

  .enlace-responsive {
    color: #ff0064 !important;
  }
}

@media screen and (max-width: 383px) {
  .top-side {
    position: absolute !important;
    text-align: center !important;
    font-size: 1.2rem !important;
    border-left: none;
  }

  .respBannerRight {
    font-size: 26px !important;
  }

  .respBannerLeft {
    font-size: 15px !important;
  }

  .getpaidtext {
    font-size: 35px !important;
  }
}